* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divider {
  height: 2px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.103);
}

/* 
@media screen and ( min-width: 500px ) {

  #root {
    display: none;
  }

} */