/* Panel */
#panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.671);
    width: 160px;
}

#panel-header {
    color: rgb(34, 33, 54);
    font-weight: 100;
    text-align: center;
    padding: 10px 0;
    height: 10vh;
}

#palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: 80vh;
}

#palette .model {
    display: inline-block;
    background-color: rgba(34, 33, 54, 0.103);
    margin: 10px auto;
    border-radius: 10px;
}

#palette .model, .model-icon {
    height: 70px;
    width: 70px;
}

#enter-vr {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter-vr i {
    font-size: 2.5em;
    color: rgb(124, 134, 175);
}

